body{
    width: 940px;
    margin: 0 auto;
    background-color: rgb(2, 112, 112);
	
}



.menu .inicio{
 margin: 0 auto;
 width: 940px;
 margin: 100 auto;
 background-color:   rgb(8, 10, 10)

}

.menu{
	background-color: aquamarine;
	color: rgb(1, 129, 129);
	position: fixed;
	width: 940px;
	
}

.menu ul{
	display: flex;
   padding: 10px;
   margin-left: 120px;
   
}

.menu li{
	padding: 15px 15px;
	font-weight: bolder;
	text-transform: uppercase;
	text-decoration: none;
	
}

.menu li:hover{
	background-color: aqua;
	border-radius: 15px 0 15px;
}

.menu a{
	color: rgb(0, 0, 0);
	text-decoration: none;
}

.inicio{
	background-color: rgb(101, 243, 243);
	font-family: sans-serif;
	display: flex;
	padding: 80px 0 0 0;
	margin: 0 auto;
	width: 940px;
}




.dados-pessoais{
	padding-left: 120px;
}

.dados-pessoais h1{
	font-size: 2.5em;
	font-weight: bold;
	font-style: italic;
	color: rgb(0, 0, 0);
}

.dados-pessoais .cargo{
	font-size: 1.2em;
	font-style: italic;
	color: black;
	margin: 23px;
	
}

.dados-pessoais p{
	font-size: 1.3em;
	color: black;
	margin: 10px;
}

.perfil{
	margin-left: 120px;
	margin-bottom: 120px;
	border: 5px solid black; 
	border-radius: 100%;
	width: 240px;
}

.icon{
	width: 13px;
	
}

.insta{
	position: relative;
	width: 25px;
	top: 268px;
	left: 259px;
}

.link{
	position: relative;
	width: 31px;
	top: 200px;
	right: 309px;
}

.git{
	position: relative;
	width: 35px;
	top: 190px;
	left: px;
}


.MMM p{
position: absolute;
width: 557px;
height: 214px;
left: 670px;
top: 564px;
text-align: normal;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 36px;

}



.mim{
	position: absolute;
	padding: 21px;
	border-radius: 23%;
	
	
	
}

.MMM h3{
	font-weight: bolder;
	font-size: 35px;
	position: relative;
	text-align: center;
	top: 53px;
	margin-left: 190px;
	
}


.Edu{
	position: absolute;
	width: 492px;
	height: 100px;
	left: 323px;
	top: 926px;
	background: rgb(1, 182, 173);
	border-radius: 21px;
	
}

.Edu p{

	position: absolute;
	width: 515px;
	height: 116px;
	left: 14px;
	top: 20px;
	position: normal;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 26px;
	

	/*font-size: 16px;
	margin-left: 33px;
	position: relative;/*/
	
}

.Educação{
	font-weight: bold;
	top: 400px;
	left: 10px ;
	right: 500px;
    font-size: 23px;
	display: flex;
	position: relative;

}

.caixa{
position: absolute;
width: 515px;
height: 116px;
left: 320px;
top: 1150px;
background: rgb(1, 182, 173);
border-radius: 24px;

}

.ppp{
	position: absolute;
	width: 515px;
	height: 116px;
	left: 14px;
	top: 20px;
	position: normal;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 26px;
	
}

.Habilidades {font-weight: bold;
	top: 600px;
	left: 10px ;
	right: 500px;
    font-size: 23px;
	display: flex;
	position: relative;

}

.caixa2{
	position: absolute;
	width: 515px;
	height: 116px;
	left: 320px;
	top: 1350px;
	background: rgb(1, 182, 173);
	border-radius: 24px;
	
	}

	.Interesses {font-weight: bold;
		top: 780px;
		left: 10px ;
		right: 500px;
		font-size: 23px;
		display: flex;
		position: relative;
	
	}

.caixa2 p{position: absolute;
	width: 515px;
	height: 116px;
	left: 14px;
	top: 20px;
	position: normal;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 26px;}
	
.comp{
	position: absolute;
	width: 33px;
	top: 1367px;
	left: 733px;
}

.kkk{
	position: absolute;
	width: 33px;
	top: 1366px;
	left: 780px;
}

footer{
	position: absolute;
 width: 941px;
 height: 300px;
 left: 321px;
 top: 1570px;
 margin: 0 auto;
 background: rgb(165, 167, 167)

	/*width: 940px;
    margin: 0 auto;
	background: white;/*/
}

.body{
	width: 940px;
	margin: 0 auto;
	background: white;
	height: 1870px;
}

.whats{
	position: relative;
	width: 53px;
	left: px ;
	top: 10px;
	right: 5px;
}

footer p{
	position: absolute;
	font-size: 30px;
	top: 150px;
	left: 180px;
}

h4{
	position: relative;
	text-align: center;
	top: 269px;
}
